
  
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;

    }

.content {
    background-color:#fBA100;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
  
    
 
}




.drinks {
    margin: auto;
    padding-top: 70px;
    padding-left: 57%;

}



.drinks-container {
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 25px;
    background-image: url(img/paperclip.svg);
    background-repeat: no-repeat;
    height: 460px;
    width: 400px;
    margin: auto;
    transform: rotate(1.5deg);
}





    .about {
        height: 100%;
        width: auto;
        padding-top: 40px;
        border-top-style: dashed;
        border-top-color: #fff;
        margin: auto;
    }


    .grid {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
        width: 90%;
    }

    .grid-about {
        margin: auto;
        padding-bottom: 40px
    }

    .menu-grid {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

    }


    .bowl-animation {
        width: 150px;
        margin: auto;
        padding-top: 40px;

    }



.specs-monkey {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100px;
}





    .contact {
        height: 100%;
        background-color: #fff;
        background-image: url(img/monkey2.png);
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: 75% 20%;


    }


    .grid-reduced {

        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
        width: 700px;
        margin: auto;

    }


    .info {
        padding-left: 20px
    }

    .return {
        display: none;
    }